<{if $block}>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><!--日期--><{$smarty.const._MB_TADLUNCH2_LUNCH_DATE}></th>
      <th><!--主食--><{$smarty.const._MB_TADLUNCH2_MDIN_FOOD}></th>
      <th><!--主菜--><{$smarty.const._MB_TADLUNCH2_MDIN_DISH}></th>
      <th><!--副菜1--><{$smarty.const._MB_TADLUNCH2_SIDE_DISH1}></th>
      <th><!--副菜2--><{$smarty.const._MB_TADLUNCH2_SIDE_DISH2}></th>
      <th><!--副菜3--><{$smarty.const._MB_TADLUNCH2_SIDE_DISH3}></th>
      <th><!--水果--><{$smarty.const._MB_TADLUNCH2_FRUIT}></th>
      <th><!--湯點--><{$smarty.const._MB_TADLUNCH2_SOUP}></th>
      <th><!--總熱量--><{$smarty.const._MB_TADLUNCH2_CALORIE}></th>
    </tr>
    </thead>

    <tbody>
    <{foreach from=$block item=data}>
      <tr>
        <td>
          <div><a href="<{$xoops_url}>/modules/tad_lunch2/index.php?lunch_data_sn=<{$data.lunch_data_sn}>"><{$data.lunch_date}></a></div>
          <div><a href="<{$xoops_url}>/modules/tad_lunch2/index.php?lunch_data_sn=<{$data.lunch_data_sn}>"><{$data.title}></a></div>
        </td>
        <td><{$data.main_food}></td>
        <td><{$data.main_dish}></td>
        <td><{$data.side_dish1}></td>
        <td><{$data.side_dish2}></td>
        <td><{$data.side_dish3}></td>
        <td><{$data.fruit}></td>
        <td><{$data.soup}></td>
        <td><{$data.calorie}></td>
      </tr>
    <{/foreach}>
    </tbody>
  </table>

<{/if}>